<!doctype html>

<html>

<head>
	<title>FIZZBUZZ!!</title>
	<link rel="stylesheet"type="text/css"href="/fizzbuzz.css">
</head>

<body>


<h1>FizzBuzz</h2>

<h2>Please enter a number...</h2>

<form method="post" action="/result">

<input type="text" id="number" name="number" value="" placeholder="3" required="required" autofocus="autofocus"/><br/><br/>
<input type="submit" value="FizzBuzzit..." id="submit-button">

</form>

</body>

</html>