<!doctype html>

<html>

<head>
	<title>FIZZBUZZ</title>
	<link rel="stylesheet"type="text/css"href="/fizzbuzz.css">
</head>

<body>

<h1>FizzBuzz</h2>

<h2><%= @fizzbuzz %></h2>
 
<a href="/"><input type="submit" value="Try Again..." id="back-button"></a>

</body>

</html>